.accountWindow
  .row
    form.w3-container.w3-card-2.w3-padding-32.w3-white(action='')
      div#accountError
      .w3-section
        input.w3-input(style='width:100%;', type='text', required='', id='title_firebase', name='title')
      .w3-section
        input.w3-input(style='width:100%;', type='text', required='', id='content_firebase', name='content')
      .w3-section
        input.w3-input(style='width:100%;', type='text', required='', id='device_id_firebase' name='device_id')
      button.w3-button.w3-teal.w3-right(onClick='sendFirebase()') Send

script(src='/js/firebase.js')
