html.no-js(ng-app='meanMapApp')
  head
    meta(charset='utf-8')
    title Scotch MEAN Map
    meta(name='description', content='An example demonstrating Google Map integration with MEAN Apps')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // CSS
    link(rel='stylesheet', href='../bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='style.css')
    // Holder JS
    script(src='../bower_components/holderjs/holder.js')
    // Google Maps API
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBSucgHFwGIMS0vxpFFrBnIqrypBTtP_oI')
    // Modernizr
    script(src='../bower_components/modernizr/bin/modernizr')
    // JS Source
    script(src='../bower_components/jquery/jquery.js')
    script(src='../bower_components/angular/angular.js')
    script(src='../bower_components/angular-route/angular-route.js')
    script(src='../bower_components/angularjs-geolocation/dist/angularjs-geolocation.min.js')
  body
    include partials/scotchlocations
